
.nav-bar {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	margin: 0 20px;
}

.nav-bar-container {
	position: fixed;
    bottom: 0px;
    background: white;
    width: 100%;
}

.nav-bar > a {
	text-decoration: none;
}

.content {
	margin-bottom: 100px;
}